[submodule "flotilla/src/_cargo_commonObjects/cargo_data"]
	path = flotilla/src/_cargo_commonObjects/cargo_data
	url = git@github.com:YeoLab/flotilla_data.git

[submodule "barebones_project"]
	path = barebones_project
	url = git@github.com:YeoLab/flotilla_project.git
