language: python
python:
- '2.7'
- '3.5'
sudo: false
before_install:
- if [ ${TRAVIS_PYTHON_VERSION:0:1} == "2" ]; then wget http://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh
  -O miniconda.sh; else wget http://repo.continuum.io/miniconda/Miniconda3-3.4.2-Linux-x86_64.sh
  -O miniconda.sh; fi
- chmod +x miniconda.sh
- "./miniconda.sh -b"
- if [ ${TRAVIS_PYTHON_VERSION:0:1} == "2" ]; then export PATH=~/miniconda2/bin:$PATH;
  else export PATH=~/miniconda3/bin/:$PATH; fi
- conda update --yes conda
- export COVERALLS_SERVICE_NAME=travis-ci
- export COVERALLS_REPO_TOKEN=Pk8rldcpUmf4b8ITeoa7XBYHiAc3LNXlc
install:
- conda create -n testenv --yes python=$TRAVIS_PYTHON_VERSION
- source activate testenv
- conda install --yes --file conda_requirements.txt
- pip install -r requirements.txt
- pip install coverage
- pip install coveralls
before_script:
- git config --global user.email "olga.botvinnik@gmail.com"
- git config --global user.name "olgabot"
- git config --global push.default simple
- export REPO_URL_GITHUB="https://$GH_TOKEN@github.com/$GH_REPO.git"
- ". ./.travis/setup.sh"
- echo $DEPLOY_HTML_DIR
script:
  - make coverage
  - if [ ${TRAVIS_PYTHON_VERSION:0:1} == "2" ]; then make lint ; fi
  # For building the docs
  - MASTER=master
  - if [[ $TRAVIS_BRANCH == v*.*.* ]] ; then export DEPLOY_HTML_DIR=docs ; fi
  - if [[ $TRAVIS_BRANCH == "$MASTER" ]] ; then export DEPLOY_HTML_DIR=docs-dev ; fi
  - if [[ $TRAVIS_BRANCH == v*.*.* ]] || [[ $TRAVIS_BRANCH == "$MASTER" ]] ; then sudo apt-get install pandoc; conda install --yes --file doc/conda_requirements.txt ; pip install -r doc/requirements.txt; pip install . ; cd doc ; make setup_gh_pages ; make generate ; make deploy ; fi
after_script:
- coveralls
notifications:
  slack:
    rooms:
    - yeolab:HxLwrd5FGhZQ8SyBD9Fvh3dn#flotilla
env:
  global:
  - GH_REPO="YeoLab/flotilla"
  - secure: N8LIn+ZtvaL+j9uHJFRtTWHbJtLk47r+7PUaSPapmpRPkqD4zClwC1+xVrfRXYiTWLVmCMfbcOAjQmZR8OjL8TKD4yGPzXAS5yb9QUhlMBf2is7CECIZQcQ/kht4KGKF72QoRY4r/Eh4NKhayBUWwZmHXd5zIKn8C/irvr+6LBI=
deploy:
  provider: pypi
  user: obot
  password:
    secure: YVGmMuvzAcgEZqk1ezIl6yMwPW4DZ0euHbifyHfz1FQHGlAxHJa8CMfzVfkbkR820xTapidkZkBlBAY1zOyJ346M/rID0T5WvBM68qbeYvyp24IR7p4gEnlcBvljs+Ce9/egzIs/XxceYnJekJ2iyWmTaTxb2v8Efqp1UNEaaIY=
  on:
    tags: true
    repo: YeoLab/flotilla
