language: python
python:
#  - "2.6"
  - "2.7"
#  - "3.3"
#  - "3.4"

# Set up our virtualenv
before_install:
  - if [ ${TRAVIS_PYTHON_VERSION:0:1} == "2" ]; then wget http://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh; else wget http://repo.continuum.io/miniconda/Miniconda3-3.4.2-Linux-x86_64.sh -O miniconda.sh; fi
  - chmod +x miniconda.sh
  - ./miniconda.sh -b
  - if [ ${TRAVIS_PYTHON_VERSION:0:1} == "2" ]; then export PATH=~/miniconda/bin:$PATH; else export PATH=~/miniconda3/bin/:$PATH; fi
  - conda update --yes conda
# Set up coveralls
  - export COVERALLS_SERVICE_NAME=travis-ci
  - export COVERALLS_REPO_TOKEN=Pk8rldcpUmf4b8ITeoa7XBYHiAc3LNXlc

# command to install dependencies
install:
  - conda create -n testenv --yes python=$TRAVIS_PYTHON_VERSION
  - source activate testenv
  # install as much as we can via conda
  - conda install --yes pip numpy scipy cython matplotlib nose six scikit-learn ipython networkx pandas tornado statsmodels setuptools pytest pyzmq jinja2 pyyaml
  # Install the rest via pip (brewer2mpl, gspread, seaborn, etc)
  - pip install -r requirements.txt
  - pip install coveralls

before_script:
  - git config --global user.email "olga.botvinnik@gmail.com"
  - git config --global user.name "olgabot"
  - export REPO_URL_GITHUB="https://$GH_TOKEN@github.com/$GH_REPO.git"
  - . ./.travis/setup.sh # make any change needed for setup.sh
  - echo $DEPLOY_HTML_DIR

# command to run tests
script: make coverage

after_script:
  - coveralls
  # For building the docs
  - pip install sphinx numpydoc sphinx_bootstrap_theme runipy
  - sudo apt-get install pandoc
  - pip install pep8
  - pip install https://github.com/dcramer/pyflakes/tarball/master
  - pip install .
  - make lint
  - sudo pip install -r doc/requirements.txt --use-mirrors
  - RELEASE=release
  - MASTER=master
  - if [[ $TRAVIS_BRANCH == "*$RELEASE*" ]] ; then export DEPLOY_HTML_DIR=docs ; fi
  - if [[ $TRAVIS_BRANCH == "$MASTER" ]] ; then export DEPLOY_HTML_DIR=docs-dev ; fi
  - if [[ $TRAVIS_BRANCH == "*$RELEASE*" ]] || [[ $TRAVIS_BRANCH == "$MASTER" ]] ; then cd doc ; make setup_gh_pages ; make generate ; make deploy ; fi

# For slack notifications
notifications:
  slack:
    rooms:
    - yeolab:HxLwrd5FGhZQ8SyBD9Fvh3dn#flotilla

env:
  global:
    - GH_REPO="YeoLab/flotilla" #change this to your right project
    - secure: N8LIn+ZtvaL+j9uHJFRtTWHbJtLk47r+7PUaSPapmpRPkqD4zClwC1+xVrfRXYiTWLVmCMfbcOAjQmZR8OjL8TKD4yGPzXAS5yb9QUhlMBf2is7CECIZQcQ/kht4KGKF72QoRY4r/Eh4NKhayBUWwZmHXd5zIKn8C/irvr+6LBI=

  # configure the right travis-ci secure key, see sphinx-deployment/README for more details
  #- secure: im3gWbsEF135C0jKlOIRJUa1tgtsCAaqwGDSpzwe/fnTosqystNE+mhvFfERmy1K4qRg0cbRYGd8L6pP/V7RR3GMqFX4h5wexZeKsCN895S0d7QIWUmw2yJ3+mvk/g+E6q56tORzhKzKVRef5VWkk84EOKrZ/KIeoVpKVAlVR1s=
